#Ignore Settings File
settings.php
code-workspace.code-workspace

#Ignore Folders
/core

#Other ignores

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
vendor/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore contributed Modules
# modules/contrib/*

# Ignore SimpleTest multi-site environment.
sites/simpletest
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.ht.router.php
.htaccess
INSTALL.txt
README.txt
autoload.php
example.gitignore
index.php
robots.txt
update.php
web.config
.gitattributes
LICENSE.txt
composer.lock