<div id="navbarContent" class="collapse navbar-collapse">
          
          <ul class="navbar-nav">
            <!-- Megamenu-->
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Curriculum</a>
              <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="container">
                  <div class="row rounded-0 m-0 shadow-sm">

                    <div class="col-lg-3 col-xl-3 bg-secondary-nav">
                      <div class="col-lg-12 mb-12">
                        <ul class="list-unstyled">
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Background Information</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Curriculum Overview</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Explore/Search Curriculum</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Continuous Views</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Indigenous Education Resources</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Instructional Samples</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Educator Updates</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Tools</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-9 col-xl-9 bg-white">
                      <div class="p-4">
                        <div class="row">
                          
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Applied Design, Skills, and Technologies</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Arts Education</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Career Education</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">English Language Arts</a>
                              <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">FRALP</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">FRAL</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Languages</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Mathematics</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Physical and Health Education</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Science</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>                                                            
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Social Studies</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div> 
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Additional Offerings</a>
                            <ul class="list-unstyled">
                            </ul>
                          </div>                                                                                                                                                             
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Competencies</a>
              <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="container">
                  <div class="row bg-white rounded-0 m-0 shadow-sm">

                    <div class="col-lg-12 col-xl-12 bg-secondary-nav">
                      <div class="p-4">
                        <div class="row">
                          
                          <div class="col-lg-4 mb-12">
                            <a href="/competencies/communication" class="nav-link">Communication</a>
                            <ul class="list-unstyled">
          
                            <li><a href="/competencies/communication/communicating" class="nav-link">Communcating</a></li>
                            <li><a href="/competencies/communication/collaborating" class="nav-link">Collaboration</a></li>
                            </ul>
                          </div>   
                          <div class="col-lg-4 mb-12">
                            <a href="/competencies/critical-thinking" class="gradepicker-subject nav-link">Applied Design, Skills, and Technologies</a>
                            <ul class="list-unstyled">
          
                              <li><a href="/competencies/thinking/creative-thinking/" class="nav-link">Creative Thinking</a></li>
                              <li><a href="/competencies/thinking/critical-and-reflective-thinking/" class="nav-link">Critical and Reflective Thinking</a></li>
                            </ul>
                          </div>   
                          <div class="col-lg-4 mb-12">
                            <a href="/curriculum/adst" class="gradepicker-subject nav-link">Personal and Social</a>
                            <ul class="list-unstyled">
          
                              <li class="d-inline"><a href="/competencies/personal-and-social/personal-awareness-and responsibility" class="grade-k nav-link">Personal Awareness and Responsibility</a></li>
                              <li class="d-inline"><a href="/competencies/personal-and-social/positive-personal-and-cultural-identity" class="grade-1 nav-link">Positive Personal and Cultural Identity</a></li>
                              <li class="d-inline"><a href="/competencies/personal-and-social/social-awareness-and-responsibility" class="grade-2 nav-link">Social Awareness and Responsibility</a></li>

                            </ul>
                          </div>                                                                                                                                                                                                   
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>      
            <li class="nav-item"><a href="/assessment" class="nav-link">Asessment</a></li>
            <li class="nav-item"><a href="/graduation" class="nav-link">Graduation</a></li>
          </ul>
        </div>