<div id="navbarContent" class="collapse navbar-collapse">
          
          <ul class="navbar-nav">
            <!-- Megamenu-->
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Curriculum</a>
              <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="container">
                  <div class="row rounded-0 m-0 shadow-sm">

                    <div class="col-lg-3 col-xl-3 bg-secondary-nav">
                      <div class="col-lg-12 mb-12">
                        <ul class="list-unstyled">
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Background Information</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Curriculum Overview</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Explore/Search Curriculum</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Continuous Views</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Indigenous Education Resources</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Instructional Samples</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Educator Updates</a></li>
                          <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Tools</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-9 col-xl-9 bg-white">
                      <div class="p-4">
                        <div class="row">
                          
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/adst" class="gradepicker-subject">Applied Design, Skills, and Technologies</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/adst/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/adst/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/arts-education" class="gradepicker-subject">Arts Education</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/arts-education/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/9/courses" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/arts-education/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/career-education" class="gradepicker-subject">Career Education</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/career-education/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/career-education/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/english-language-arts" class="gradepicker-subject">English Language Arts</a>
                              <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/english-language-arts/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/english-language-arts/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/fralp" class="gradepicker-subject">FRALP</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/fralp/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/fralp/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/fral" class="gradepicker-subject">FRAL</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/fral/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/fral/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/languages" class="gradepicker-subject">Languages</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/languages/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/languages/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/mathematics" class="gradepicker-subject">Mathematics</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/mathematics/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/mathematics/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/physical-health-education" class="gradepicker-subject">Physical and Health Education</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/physical-health-education/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/physical-health-education/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/science" class="gradepicker-subject">Science</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/science/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/science/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/science/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/science/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/science/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/science/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/science/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/science/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/science/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/science/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/science/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/science/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/science/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div>                                                            
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/social-studies" class="gradepicker-subject">Social Studies</a>
                            <ul class="list-unstyled">          
                              <li class="d-inline"><a href="/curriculum/social-studies/k/core" class="grade-k">K</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/1/core" class="grade-1">1</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/2/core" class="grade-2">2</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/3/core" class="grade-3">3</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/4/core" class="grade-4">4</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/5/core" class="grade-5">5</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/6/core" class="grade-6">6</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/7/core" class="grade-7">7</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/8/core" class="grade-8">8</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/9/core" class="grade-9">9</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/10/courses" class="grade-10">10</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/11/courses" class="grade-11">11</a></li>
                              <li class="d-inline"><a href="/curriculum/social-studies/12/courses" class="grade-12">12</a></li>
                            </ul>
                          </div> 
                          <div class="col-lg-6 mb-12 pb-2">
                            <a href="/curriculum/additional-offerings" class="gradepicker-subject">Additional Offerings</a>
                            <ul class="list-unstyled">
                            </ul>
                          </div>                                                                                                                                                             
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Competencies</a>
              <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="container">
                  <div class="row bg-white rounded-0 m-0 shadow-sm">

                    <div class="col-lg-12 col-xl-12 bg-secondary-nav">
                      <div class="p-4">
                        <div class="row">
                          
                          <div class="col-lg-4 mb-12">
                            <a href="/competencies/communication" class="nav-link">Communication</a>
                            <ul class="list-unstyled">
          
                            <li><a href="/competencies/communication/communicating" class="nav-link">Communcating</a></li>
                            <li><a href="/competencies/communication/collaborating" class="nav-link">Collaboration</a></li>
                            </ul>
                          </div>   
                          <div class="col-lg-4 mb-12">
                            <a href="/competencies/critical-thinking" class="gradepicker-subject nav-link">Applied Design, Skills, and Technologies</a>
                            <ul class="list-unstyled">
          
                              <li><a href="/competencies/thinking/creative-thinking/" class="nav-link">Creative Thinking</a></li>
                              <li><a href="/competencies/thinking/critical-and-reflective-thinking/" class="nav-link">Critical and Reflective Thinking</a></li>
                            </ul>
                          </div>   
                          <div class="col-lg-4 mb-12">
                            <a href="/curriculum/adst" class="gradepicker-subject nav-link">Personal and Social</a>
                            <ul class="list-unstyled">
          
                              <li class="d-inline"><a href="/competencies/personal-and-social/personal-awareness-and responsibility" class="grade-k nav-link">Personal Awareness and Responsibility</a></li>
                              <li class="d-inline"><a href="/competencies/personal-and-social/positive-personal-and-cultural-identity" class="grade-1 nav-link">Positive Personal and Cultural Identity</a></li>
                              <li class="d-inline"><a href="/competencies/personal-and-social/social-awareness-and-responsibility" class="grade-2 nav-link">Social Awareness and Responsibility</a></li>

                            </ul>
                          </div>                                                                                                                                                                                                   
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Assessment</a>
              <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="container">
                  <div class="row bg-white rounded-0 m-0 shadow-sm">

                    <div class="col-lg-5 col-xl-12 bg-secondary-nav">
                      <div class="p-4">
                        <div class="row">
                          
                          <div class="col-lg-5 mb-12">
                            <ul class="list-unstyled">
                              <li><a href="/assessment/provincial" class="nav-link">Provincial Assessment</a></li>
                              <li><a href="/assessment/classroom-assessment-reporting" class="nav-link">Classroom Assessment &amp; Reporting</a></li>
                              <li><a href="/assessment/national-international" class="nav-link">National &amp; International Assessment</a></li>
                            </ul>
                          </div>                                                                                                                                                                                                      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a href="/graduation" class="nav-link">Graduation</a></li>
          </ul>
        </div>