/* Language Picker */

.language-picker ul {
    font-size: 0.9rem;
    height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.language-picker li {
    float: left;
    height: 30px;
    line-height: 30px;
}

.language-picker li a {
    display: block;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: underline;
}

.language-picker li a:hover{
    text-decoration: underline;
}


/* Grade Picker*/
.views-field-field-grade-picker{
    text-align:center;
}

.curriculum_competencies .view-grouping-content, .curriculum_content .view-grouping-content{
    border: 1px solid #ccc;
}

.view-display-id-attachment_2,.view-display-id-attachment_3{
    float:left;
    width:100%;

}
.view-grouping.curriculum_content,.view-grouping.curriculum_competencies, .view-grouping.curriculum_big_ideas{
    padding-top: 15px;
}
.view-display-id-attachment_3 .view-grouping{
    width: 100% !important;
}

.view-display-id-attachment_3 .curriculum-content .views-row{
    background: none !important;
}

/* Download Links*/

.grade-changer .dropdown-menu a{
    width: auto !important;
    float: none !important;
    border-bottom: none !important;
    height: 20px !important;
}

.grade-changer .dropdown-item{
    display:inline !important;    
}

.grade-changer{
    position:absolute !important; 
    right: 0;
}
.downloads{
    float:right;

}
.view-curriculum-course-view .dropdown-menu{
    float:left;
    width: 200px;

}
.view-curriculum-course-view .dropdown-menu a{
    width: 200px;
    float:left;
    padding:10px;
    border-bottom: 1px solid #ccc;
    
}

/* Curriculum  Title*/

.view-display-id-attachment_1{
    float:left;
    width: 100%;
}
.view-display-id-attachment_1 .view-grouping{ 
    width: 100% !important;
}
h1.curriculum-title{
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.course-links{

}
.curriculum-content > .views-row .elaboration{
    display: none;
}
/* Big Ideas*/
.curriculum_big_ideas .curriculum-content{
    display:flex;
    width:100%;
}
.view-curriculum-course-view .curriculum_big_ideas .curriculum-content > .views-row{
    width:25%;
    padding:20px;
    background: none !important;
    border: 1px solid #ccc;
    border-radius 0.25em;
}
/* Content */
.view-grouping-header{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.curriculum-content > .views-row{
    position: relative;
    padding-left: 30px;
    background: url(/themes/custom/curriculum/images/icons/c_and_c_bullet_black_75.png) no-repeat !important;
    margin-bottom: 10px;
}
.curriculum-content > .views-row.ccg_keyword_w_elaboration{
    position: relative;
    padding-left: 0px !important;
    background: none !important;
}

/* Curricular Competencies */

h4.ccg{
    padding: 25px 0px
}

.curriculum-content > .views-row .field-content.col{
    padding-left: 0px !important;
}
.view-grouping:nth-of-type(1) {
    order: 1;
}
.view-grouping:nth-of-type(2) {
    order: 3;
}
.view-grouping:nth-of-type(3) {
    order: 2;
}
.view-grouping:nth-of-type(4) {
    order: 4;
}

/* Stem styles */
.curriculum-stem {
    padding:15px;
}
/* Elaborations */
.keywords, .elaborations{
    display:none;
}

/* course Directory*/


.pdf_url, .docx_url{
    padding-left: 10px;
    float: right;

}

/* Curriculum Mega Menu*/

.megamenu {
    position: static;
}
  
.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}

/* Carousel/Main Header Image */

#carousel .page .background .background-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-image: url(/themes/custom/curriculum/images/carousel-bottom-gradient.png);
}

.carousel-caption {
    background-color: rgba(0, 51, 102, 0.8);
    bottom: 450px;
    max-width: 550px;
    margin-top: 200px;
    margin-left: 30px;
    padding-left: 25px;
    text-align:left;
}
/* Main Navigation */
.nav-brand{
    width: 100%;
}

@media (min-width: 576px){
    .container{
        width: 100% !important;
    }

}
